<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles/dashboard.css">
        <title>Dashboard</title>
    </head>
    <body>
        <nav class="navbar navbar-primary bg-primary">
            <a class="navbar-brand" href="index.html">Navbar</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="nav-form" method="post" id="searchForm">
                        <i class="fa fa-search"></i>
                        <input type="text" name="" value="">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-bell"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="user">
                            <div class="user-avatar">
                                <img src="img/user-avatar.jpg" alt="">
                            </div>
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">My events</a>
                        <a class="dropdown-item" href="#">Create event</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Logot</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="event-categories">
            <div class="categories">
                <a class="nav-link" href="#">Entertainment</a>
                <a class="nav-link" href="#">Trainings</a>
                <a class="nav-link" href="#">Rallies</a>
                <a class="nav-link" href="#">Debate</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a href="#">
                        <div class="event">
                            <div class="image-div">
                                <img src="img/banner.jpg" alt="Event Image">
                            </div>
                            <div class="info-div">
                                <div class="description">
                                    <h4>September boogie Down</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                    <p>Sept 30, 2018</p>
                                </div>
                                <div class="metrics">
                                    <p>Going: 1234</p>
                                    <p>Views: 4503</p>
                                </div>
                                <div class="user-post">
                                    <div class="profile-image">
                                        <img src="img/user-avatar.jpg" alt="User Image">
                                    </div>
                                    <div class="post-stat">
                                        <p>Enejo James</p>
                                        <p>Aug 17</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#">
                        <div class="event">
                            <div class="image-div">
                                <img src="img/banner.jpg" alt="Event Image">
                            </div>
                            <div class="info-div">
                                <div class="description">
                                    <h4>The Elections summit 2018</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                    <p>Sept 30, 2018</p>
                                </div>
                                <div class="metrics">
                                    <p>Going: 224</p>
                                    <p>Views: 813</p>
                                </div>
                                <div class="user-post">
                                    <div class="profile-image">
                                        <img src="img/user-avatar.jpg" alt="User Image">
                                    </div>
                                    <div class="post-stat">
                                        <p>Enejo James</p>
                                        <p>Aug 17</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#">
                        <div class="event">
                            <div class="image-div">
                                <img src="img/banner.jpg" alt="Event Image">
                            </div>
                            <div class="info-div">
                                <div class="description">
                                    <h4>September boogie Down</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                    <p>Sept 30, 2018</p>
                                </div>
                                <div class="metrics">
                                    <p>Going: 1234</p>
                                    <p>Views: 4503</p>
                                </div>
                                <div class="user-post">
                                    <div class="profile-image">
                                        <img src="img/user-avatar.jpg" alt="User Image">
                                    </div>
                                    <div class="post-stat">
                                        <p>Enejo James</p>
                                        <p>Aug 17</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#">
                        <div class="event">
                            <div class="image-div">
                                <img src="img/banner.jpg" alt="Event Image">
                            </div>
                            <div class="info-div">
                                <div class="description">
                                    <h4>The Elections summit 2018</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                    <p>Sept 30, 2018</p>
                                </div>
                                <div class="metrics">
                                    <p>Going: 224</p>
                                    <p>Views: 813</p>
                                </div>
                                <div class="user-post">
                                    <div class="profile-image">
                                        <img src="img/user-avatar.jpg" alt="User Image">
                                    </div>
                                    <div class="post-stat">
                                        <p>Enejo James</p>
                                        <p>Aug 17</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(() => {
                $('#searchForm').click(() => {
                    if (window.screen.width < 460) {
                        location.href = 'https://www.google.com';
                    } else {
                        $('#searchForm').css('width', '210');
                    }
                });


            });
        </script>
    </body>
</html>
